
body{background:#0d0d0d;color:white;font-family:Arial;margin:0;padding:0;}
header{background:black;padding:20px;text-align:center;}
nav a{color:#0f0;text-decoration:none;margin:0 10px;font-weight:bold;}
.hero{text-align:center;padding:40px;}
.btn{background:#0f0;color:black;padding:10px 20px;border-radius:6px;font-weight:bold;text-decoration:none;}
ul{padding:20px;}
